.food_title {
  text-align: center;
  color: white;
}

.food_subtitle {
  text-align: center;
  margin-top: -1rem;
}


.detail_data {
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #fff;
  padding: 1rem;
  background-color: #237905;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}