.random-experience{
    margin: 2rem 0rem;
    background-color: #237905;
    padding: 1rem;
}

.random-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.random-meal h2 {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: white;
  text-transform: capitalize;
}

.random_button {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  color: #237905;
  background-color: white;
  font-weight: 700;
}

.random_button:hover {
  background-color: #e2e2e2;
}